name: "Security Scanning"
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  CodeQL:
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2.4.0
      with:
        fetch-depth: 2
    - name: Initialize CodeQL
      uses: github/codeql-action/init@8a4b243fbf9a03a93e93a71c1ec257347041f9c4 # renovate: tag=v1.0.27
      continue-on-error: true
      id: initcodeql
    - name: Autobuild
      if: steps.initcodeql.outcome == 'success'
      uses: github/codeql-action/autobuild@8a4b243fbf9a03a93e93a71c1ec257347041f9c4 # renovate: tag=v1.0.27
    - name: Perform CodeQL Analysis
      if: steps.initcodeql.outcome == 'success'
      uses: github/codeql-action/analyze@8a4b243fbf9a03a93e93a71c1ec257347041f9c4 # renovate: tag=v1.0.27

  ShiftLeft:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2.4.0
    - name: Perform ShiftLeft Scan
      uses: ShiftLeftSecurity/scan-action@master
      env:
        WORKSPACE: ""
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SCAN_AUTO_BUILD: true
      with:
        output: reports
    - name: Upload report
      uses: github/codeql-action/upload-sarif@8a4b243fbf9a03a93e93a71c1ec257347041f9c4 # renovate: tag=v1.0.27
      with:
        sarif_file: reports
